# Introduction to Pandas Library
Pandas is a powerful Python library used for data manipulation and analysis.\
It provides data structures and functions designed to make working with structured data fast, easy, and expressive.

In [ ]:
import pandas as pd

In [ ]:
#help(pd) #For extensive documentation

# Cleaning and Exploring Titanic dataset

# Reading data with pandas

In [ ]:
titanic = pd.read_csv(r"C:\Users\chide\Documents\Datasets\Titanic Dataset.csv") #read data with pandas

In [ ]:
titanic.head() #preview the data from the first row

In [ ]:
titanic.tail() #preview the data from the last row

In [ ]:
titanic # you can only preview a certain number of rows and columns

In [ ]:
pd.set_option('display.max_rows', None) #for displaying maximum rows
pd.set_option('display.max_columns', None) #for displaying maximum columns

In [ ]:
#Number of Rows and Columns
titanic.shape

In [ ]:
titanic.describe() #statistic Summary of the dataset

In [ ]:
titanic.info() #summary of the dataset

# Selecting Columns

In [ ]:
titanic.columns

In [ ]:
selected_columns = titanic[['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age','Ticket', 'Fare', 'Cabin']]
selected_columns.head(10)

In [ ]:
titanic.loc[(titanic['Pclass'] == 1) & (titanic['Sex'] == 'male')]

In [ ]:
selected_columns.head(10)

In [ ]:
titanic.head(10)

In [ ]:
titanic.drop(['Cabin', 'Fare'], axis =1, inplace = True )

# Data wrangling and Data cleaning

In [ ]:
nulls_age = titanic['Age'].isnull() #check the amount of nulls in Age column
nulls_age_count = nulls_age.sum()
nulls_age_count

In [ ]:
nulls_age_prev = titanic[titanic['Age'].isnull()] #previewing the nulls in the age data frame
nulls_age_prev.head(10)

In [ ]:
nulls_cabin = titanic['Cabin'].isnull() #check the amount of nulls in Cabin column
nulls_cabin.sum() 
#len(titanic)- nulls_cabin.sum()

In [ ]:
nulls_cabin_prev = titanic[titanic['Cabin'].isnull()] #previewing the nulls in the age data frame
nulls_cabin_prev.head(10)

In [ ]:
#class work: find the number of null values in the "Embark column"

In [ ]:
#Use a FOR LOOP to get the Columns that have Nulls and how many null values they have
for column in titanic.columns:
    #check for null values
    if titanic[column].isnull().sum() > 0:
        print(f'{column} has {titanic[column].isnull().sum()} Null values')

## Handling missing Values depends on a number of factors:

Understand the Nature of Missing Data:\
Before deciding on a strategy to handle missing values, it's crucial to understand why the data is missing. \
Missing data can occur for various reasons, such as data entry errors, equipment malfunctions, or genuine absence of information.\
Understanding the patterns and reasons behind missing values can inform your choice of handling strategy.

Imputation:\
Imputation involves filling in missing values with estimated or calculated values. 
Common techniques for imputation include replacing missing numerical values with the mean, median, or mode of the column,\
or using more sophisticated methods like regression or k-nearest neighbors (KNN) imputation.\
For categorical variables, missing values can be replaced with the most frequent category.

Drop Missing Values:\
If missing values are few in number or occur randomly, you may opt to drop rows or columns containing missing values.\
This approach is suitable when the missing values do not represent a significant portion of the dataset and removing them does not introduce bias into the analysis.\
However, be cautious when dropping data, as it may lead to loss of valuable information.

Use Advanced Imputation Techniques:\
Advanced imputation techniques take into account the relationships between variables and the underlying structure of the data.\
For example, you can use predictive models such as decision trees or random forests to predict missing values based on other variables in the dataset.\
Multiple imputation methods, such as the MICE (Multiple Imputation by Chained Equations) algorithm, generate several imputed datasets to capture uncertainty in the imputation process.

In [ ]:
titanic['Embarked'].isnull().sum()

In [ ]:
titanic[titanic['Embarked'].isnull()]

In [ ]:
titanic_df = titanic[titanic['Embarked'].isnull()] # create a variable and store the 2 NaN values
titanic_df.dropna(inplace = True) # Use inplace to actually drop NA from the dataframe

In [ ]:
titanic_df

In [ ]:
titanic.head()

In [ ]:
titanic.dropna(subset = ['Embarked'], inplace = True) # To delete selected Nulls

In [ ]:
titanic['Embarked'].isnull().sum()

# Checking for duplicates

Tagging a value 'duplicate' depends on the kind of data you are working with.\
example sales data might record multiple sales for a particulatr product. those should not be treated as duplicates.\
It is always better to check for duplicates on the index column or ID column because these cannot be recorded more than once.

In [ ]:
titanic.head(10)

In [ ]:
titanic.duplicated().sum()

In [ ]:
#titanic['PassengerId'].duplicated().sum() # Check the ID column
titanic.duplicated(subset = ['PassengerId']).sum() #its always better to check individual columns for duplicates

In [ ]:
titanic.duplicated(subset = ['Pclass']).sum()
#Check the Pclass column

In [ ]:
# Use a FOR LOOP to print out the columns that have duplicate values

for column in titanic.columns:
    if titanic.duplicated(subset = [column]).sum() > 0:
        print(f'{column} has {titanic[column].duplicated().sum()} duplicates') #notice that Ticket has Duplicate values which shuldnt be so.

In [ ]:
check = titanic[titanic['Ticket'].duplicated()]
check
#check['Ticket'].value_counts()

#len(check['Ticket'].unique())

In [ ]:
titanic.drop_duplicates(subset = ['Ticket'], inplace = True)

In [ ]:
titanic.head(10)

# Correcting Data types

In [ ]:
titanic.dtypes

In [ ]:
titanic['Age'] = titanic['Age'].astype(int) #tried to convert to INT but failed because of Nan.

In [ ]:
# FIll the Nan

titanic['Age'].fillna(0, inplace = True) # Populating Your data with 0 can skew your analysis especially if you are going to be taking an Average.

In [ ]:
titanic['Age'] = titanic['Age'].astype(int)

In [ ]:
titanic.dtypes

In [ ]:
titanic.head(10)

In [ ]:
titanic['Survived'].unique() #see the uniques value in Survived

In [ ]:
titanic['Pclass'].unique() #see the uniques value in Pclass

In [ ]:
titanic['Survived'] = titanic['Survived'].replace({0 : 'Died', 1 : 'Survived'})

In [ ]:
titanic.head(10)

In [ ]:
titanic.dtypes

In [ ]:
titanic['Pclass'] = titanic['Pclass'].replace({3 : 'Lower Class', 2 : 'Middle Class', 1 : 'Upper Class'})

In [ ]:
titanic.head(10)

In [ ]:
#Class work, replace the Embarked Column like so:
#C: Cherbourg
#Q: Queenstown
#S: Southampton

# Capitalize the content of the Sex column

In [ ]:
titanic['Embarked'] = titanic['Embarked'].replace({'C' : 'Cherbourg', 'Q' : 'Queenstown', 'S' : 'Southampton'})
titanic.head(10)

In [ ]:
titanic['Sex'] = titanic['Sex'].str.capitalize()
titanic.head(10)

In [ ]:
def processed_titanic_dataset():
    titanic = pd.read_csv(r"C:\Users\chide\Documents\Datasets\Titanic Dataset.csv")
    titanic = titanic[['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch','Fare', 'Cabin', 'Embarked']]
    titanic['Age'].fillna(0, inplace = True)
    titanic['Cabin'].fillna('No data', inplace = True)
    titanic.dropna(subset = ['Embarked'], inplace = True)
    titanic['Embarked'] = titanic['Embarked'].replace({'C' : 'Cherbourg', 'Q' : 'Queenstown', 'S' : 'Southampton'})
    return titanic.head(10)

In [ ]:
titanic['Embarked'].value_counts() #BEcause  we have previously dropped the Null values, we can trust these figures

# Categorizing Data

In [ ]:
titanic.describe()

In [ ]:
bins = [-1, 12, 19, 26, 35, 45, 55, 65, 75, 80]
labels = ['0-12', '13-19', '20-26', '27-35', '36-45', '46-55', '56-65', '66-75', '75+']

titanic['Age Groups'] = pd.cut(titanic['Age'], bins = bins, labels = labels)
titanic.head(10)

In [ ]:
titanic[titanic['Age Groups'].isnull()]

# Filtering Data with conditions

In [ ]:
titanic.head(10)

In [ ]:
# we want to look at the data for only people in the first class who died.

#titanic.loc[(titanic['Pclass'] == 1) & (titanic['Sex'] == 'male')]

#or

first_class_dead = titanic[(titanic['Pclass'] == 'Upper Class') & (titanic['Survived'] == 'Died')]
first_class_dead.head(10)

# Splitting data with a delimiter

In [ ]:
titanic.head(10)

In [ ]:
titanic[['Name1', 'Name2']] = titanic['Name'].str.split(',', expand = True)

In [ ]:
titanic.head(10)

# Importing Netflix dataset

In [ ]:
import pandas as pd
file = r"C:\Users\chide\Documents\Datasets\netflix titles\netflix_titles.csv"
netflix = pd.read_csv(file, encoding = 'latin1')
netflix.head(10) #encoding issue = Encoding is the process of converting data from one format to another, In the context of text files, encoding refers to how characters are represented as bytes
#Example iso-8859-1, UTF-8, ASCII, latin1,  etc

In [ ]:
file = r"C:\Users\chide\Documents\Datasets\netflix titles\netflix_titles.csv"
netflix = pd.read_csv(file, encoding = 'iso-8859-1')
netflix.head(10)

In [ ]:
#How many rows and columns
#How many movies alltogether
#remove unwanted columns including the cast column
#check for nulls and fill nulls
#check for duplicates and drop duplicate
#correct data types
#How many movies per rating category
#How many unique countries are recorded

#BOnus Questions
#countries that have more than 100 movies
#order the data by the year starting from the earliest movie
#How long ago was each movie released, create a new column

In [ ]:
#len(netflix)
netflix.shape

no_rows = netflix.shape[0]
no_columns = netflix.shape[1]

print(f'There are {no_rows} rows and {no_columns} columns')

In [ ]:
no_movies = netflix[netflix['type'] == 'Movie'].shape[0]

print(f'There are {no_movies} movies alltogether')

In [ ]:
netflix = netflix[['show_id','type','title','director','country','date_added','release_year','rating','duration']]

In [ ]:
columns = netflix.columns

for column in columns:
    no_nulls = netflix[column].isnull().sum()
    if no_nulls > 0:
        print(f'{column} has {no_nulls} null values')

In [ ]:
netflix[netflix['director'].isnull()]

In [ ]:
netflix['director'].fillna('No data', inplace = True)

In [ ]:
netflix.info()

In [ ]:
# fill nulls using For loop and IF statement
columns = netflix.columns

for column in columns:
    no_nulls = netflix[column].isnull().sum()
    data_type = netflix[column].dtype
    if no_nulls > 0 and data_type == 'object':
        netflix[column].fillna('No data', inplace = True)
    else:
        netflix[column].fillna(0, inplace = True)

In [ ]:
netflix.info()

In [ ]:
# Checking for duplicates
netflix.duplicated(subset = ['show_id']).sum()

In [ ]:
netflix.info()

In [ ]:
netflix.head()

In [ ]:
netflix['rating'].value_counts()

In [ ]:
netflix['country'].nunique()

In [ ]:
netflix.head()

In [ ]:
#countries that have more than 100 movies
netflix['country'].value_counts()[netflix['country'].value_counts() > 100] 

#or 

country_count = netflix['country'].value_counts()
country_count[country_count > 100]

In [ ]:
#order the data by the year starting from the earliest movie
netflix.head(10).sort_values(by = 'release_year', ascending = True)

In [ ]:
#How long ago was each movie released, create a new column
import datetime
#netflix.head(10)

netflix['movie age'] = datetime.datetime.now().year - netflix['release_year']
netflix.head(10)

# Aggregating and Grouping data

In [ ]:
"""Determine how many rows and columns are in the dataset.
Remove any unwanted columns that do not contribute to analysis (like 'Invoice ID' if deemed irrelevant).

Check for any null values in each column and handle them appropriately (either fill them or drop them).
Identify any duplicate rows in the dataset and remove them if necessary.
Correct data types if needed (e.g., ensure 'Date' and 'Time' are in datetime format).

Calculate total sales per product line.
Analyze the average rating for each product line.
Determine the average tax and total cost paid per customer type and by gender.
Examine sales data by branch and city to find out which branch is performing best.
Group data by payment method to see the preferred payment method for each customer type

Identify which month of the year had the highest sales total.
Create a new column that classifies transactions as 'High' or 'Low' sales based on a predefined threshold of total amount.
Calculate the total units sold per branch and compare these figures.."""

In [ ]:
walmat = pd.read_csv(r"C:\Users\chide\Documents\Datasets\DWBB Academy - Matplotlib and seaborn class\supermarket_sales - Sheet1.csv")

In [ ]:
walmat.head(10)

In [ ]:
rows, columns = walmat.shape
print(f"The dataset has {rows} rows and {columns} columns.")

In [ ]:
walmat.drop(['Invoice ID'], axis = 1, inplace=True)

In [ ]:
# Check for null values
walmat.isnull().sum()

In [ ]:
walmat.duplicated(subset =['Invoice ID']).sum()

In [ ]:
walmat.drop_duplicates(subset =['Invoice ID'], inplace=True)

In [ ]:
walmat.info()

In [ ]:
walmat['Date'] = pd.to_datetime(walmat['Date'])
walmat['Time'] = pd.to_datetime(walmat['Time'])

In [ ]:
walmat.info()

In [ ]:
walmat.head()

In [ ]:
walmat['Product line'].unique()

In [ ]:
# Calculate total sales per product line
total_sales_per_product_line = walmat.groupby('Product line')['Total'].sum()
round(total_sales_per_product_line, 4)

In [ ]:
# Calculate average tax and total cost paid per customer type and by gender
average_tax_per_customer_type = walmat.groupby('Customer type')['Tax 5%'].mean()
total_cost_per_customer_type = walmat.groupby('Customer type')['Total'].sum()

average_tax_per_gender = walmat.groupby('Gender')['Tax 5%'].mean()
total_cost_per_gender = walmat.groupby('Gender')['Total'].sum()

In [ ]:
average_tax_per_customer_type

In [ ]:
total_cost_per_gender

In [ ]:
# Examine sales data by branch and city - Class Excercise
sales_per_branch = walmat.groupby('Branch')['Total'].sum()
sales_per_city = walmat.groupby('City')['Total'].sum()

In [ ]:
# Calculate the total units sold per branch and compare these figures - Class Excercise
total_units_sold_per_branch = walmat.groupby('Branch')['Quantity'].sum()
total_units_sold_per_branch

In [ ]:
# Group data by payment method to see the preferred payment method for each customer type
preferred_payment_method = walmat.groupby(['Customer type', 'Payment']).size().unstack()
preferred_payment_method

# Transpose Dataframe
# preferred_payment_method.T

In [ ]:
# Identify which month of the year had the highest sales total - Class Excercise
walmat['Month'] = walmat['Date'].dt.month
highest_sales_month = walmat.groupby('Month')['Total'].sum()

highest_sales_month

In [ ]:
# Create a new column that classifies transactions as 'High' or 'Low' sales
threshold = 500 
walmat['Sales Cat'] = walmat['Total'].apply(lambda x: 'High' if x > threshold else 'Low')

walmat.head()